.nav-button{
    color: #1976d2;
    opacity: 0.4;
    padding: 5px;
    margin: 5px;
    text-decoration: none;
    font-size: 1.5em;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    cursor: pointer;
    transition: 0.3s;
}
.nav-button.selected{
    opacity: 1;
    border-bottom: #1976d2 3px solid;
    border-radius: 0;
    
}
