

.nav-button{
    background-color: #000000;
    color: #ffffff;
    border: 1px solid #ffffff;
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
    text-decoration: none;
    font-size: 1.2em;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    cursor: pointer;
    transition: 0.5s;
}
.nav-button.selected{
    background-color: #ffffff;
    color: #000000;
}